@import './tailwind.css';

.recharts-bar-rectangle:focus {
  outline: none;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
