@import './tailwind.css';

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  .recharts-bar-rectangle:focus {
    outline: none;
  }
}
